@media screen and (max-width: 800px) {
  .filters div.locations, .filters div.amenities {
		width: 30%;
  }
}
@media screen and (max-width: 400px) {
  .b_search::after {
    content: "";
  }
  .filters {
    width: 100%;
    margin: auto;
  }
}


.filters {
	background-color: white;
	width: 100%;
	height: 70px;
	border: #DDDDDD 1px solid;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
}
.b_search {
	color: #FFFFFF;
	margin: auto 30px auto auto;
	font-size: 18px;
	background-color: #FF5A5F;
	width: 20%;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 4px;
}
.b_search::after {
	content: "Search";
}
.b_search:hover {
	opacity: 90%;
}
.filters div.locations, .filters div.amenities {
	height: 100%;
	width: 25%;
	border-left: #DDDDDD 1px solid;
	line-height: 30%;
}
div h3 {
	font-weight: 600;
	margin-top: 22px;
	margin-left: 25%;
}
div h4 {
	font-weight: 400;
	font-size: 14px;
	margin-left: 25%;
	margin-bottom: 22px;
}
.popover {
	visibility: hidden;
	background-color: #FAFAFA;
	border: #DDDDDD 1px solid;
	border-radius: 4px;
	line-height: 150%;
	margin-top: 5%;
	position: relative;
}
.locations:hover .popover, .amenities:hover .popover {
	visibility: visible;
	z-index: 100;
}
.popover h2 {
	font-size: 16px;
	line-height: 50%;
	margin-top: 15%;
}
.popover ul, .popover li {
	list-style: none;
}
.popover>ul {
	margin: 15% auto 15% auto;
}
@media screen and (max-width: 800px) {
	.container {
		width: 90%;
	}
	.filters div {
		width: 40%;
	}
}
@media screen and (max-width: 400px) {
	.b_search::after {
		content: "";
	}
	.filters {
		width: 100%;
		margin: auto;
	}
	.container {
		width: 95%;
	}
}

