body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	max-width: 1000px;
	height: 100%;
}
